.App {
  text-align: center;
  overflow-y: scroll;
}
input[type='select'] {
  text-align: left;
}
.ContentBox{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
input[type='text'] {
  margin-top: 20px;
  width: 94%;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  background-color: rgba(236, 236, 236, 0.867);
  display: block;
}
@media screen 
 and (min-width: 650px) {
  input[type='text'] {
    width: 60%;
    margin: 20px auto 0 auto;
  }
 }